server {
    listen {{ nginx_port_no_tls }};

    server_name _;
    return 301 https://$host:{{ nginx_port_tls }}$request_uri;
}

server {
    listen {{ nginx_port_tls }} default ssl;


    root {{ site_dir }};
    index index.html index.htm;
    # server_name {{ server_hostname }};
    location / {
        try_files $uri $uri/ =404;
    }
    ssl_certificate {{ crt_compute_dir }}/{{ crt_filename }};
    ssl_certificate_key {{ crt_compute_dir }}/{{ privatekey_filename }};
}
